* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.search-box {
  width: 500px;
  background-color: #fff;
  margin: 200px auto 0;
  border-radius: 5px;
  min-width: 300px;
  max-width: 600px;
}

.row {
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
}

input {
  flex: 1;
  height: 50px;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
  padding: 0;
}

.search-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding:4px;
}

.search-btn .fa-search {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #999;
}

.result-box {
  color: #333;
  font-size: 18px;
  max-height: 300px;
  overflow-y: scroll;
}

.result-box ul {
  border-top: 1px solid #ded7d7;
  list-style: none;
 
}

.result-box ul li {
  padding: 10px 20px;
}

.result-box ul li:hover {
  background-color: rgb(218, 252, 240);
}